html,
body {
    overflow: hidden;
    /* 禁止水平滚动 */
}

/* 容器样式，居中对齐 */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--login-background-color);
    overflow: hidden;
}


/* 登录卡片的拟态风格 */
.login-card {
    background-color: var(--login-content-bg-color);
    box-shadow: 8px 8px 16px var(--login-shadow-dark), -8px -8px 16px var(--login-shadow-light);
    border-radius: 20px;
    padding: 40px;
    max-width: 500px;
    width: 100%;
    height: max-content;
    min-height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    /* 禁用文本选择 */
}

@media screen and (max-width: 1000px) {
    .login-card {
        padding: 20px;
        border-radius: 10px;
        width: 70%;
        min-height: 100px;
        height: max-content;
    }
}

.login-card:hover {
    box-shadow: 14px 14px 18px var(--login-shadow-dark), -14px -14px 18px var(--login-shadow-light);
    transition: all 0.3s ease-in-out;
}

.login-card:focus-within {
    transform: scale(1.12);
    transition: all 0.3s ease-in-out;
}

.login-form {
    width: 80%;
}

/* 标题样式 */
.login-title {
    font-size: 2.5rem;
    font-weight: 1500;
    color: var(--login-title-color);
    margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
    .login-title {
        font-size: 1.5rem;
    }

}

/* 输入框的容器和样式 */
.input-group {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

.input-group label {
    color: var(--login-text-color);
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    user-select: none;
    /* 禁用文本选择 */
}

@media screen and (max-width: 1000px) {
    .input-group label {
        font-size: 0.8rem;
    }

}

.input-group input {
    width: 95%;
    padding: 10px 0px 10px 15px;
    /* up right down left */
    margin-bottom: 20px;
    border: none;
    border-radius: 50px;
    background-color: var(--login-contract-bg-color);
    box-shadow: inset 2px 2px 4px var(--login-shadow-dark), inset -2px -2px 4px var(--login-shadow-light);
    color: var(--login-text-color);
    font-size: 1rem;
}

@media screen and (max-width: 1000px) {
    .input-group input {
        margin-bottom: 5px;
        padding: 8px 0px 8px 10px;
        /* up right down left */
        border-radius: 40px;
        font-size: 0.8rem;
    }

}

.input-group input:focus {
    box-shadow: inset 6px 6px 10px var(--login-shadow-dark), inset -6px -6px 10px var(--login-shadow-light);
}


/* 登录按钮 */
.login-btn {
    width: 100%;
    padding: 15px;
    background-color: var(--login-link-bg-color);
    color: var(--login-link-text-color);
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media screen and (max-width: 1000px) {
    .login-btn {
        padding: 10px;
        border-radius: 8px;
        font-size: 1rem;
    }

}


.login-btn:hover {
    background-color: var(--login-link-hover-bg-color);
}

/* 注册链接文本 */
.signup-text {
    margin-top: 20px;
    color: var(--login-subtitle-color);
}

@media screen and (max-width: 1000px) {
    .signup-text {
        font-size: 0.8rem;
    }

}

.signup-link {
    color: var(--login-link-bg-color);
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease;
}

.signup-link:hover {
    color: var(--login-link-hover-bg-color);
}


/* login.css */

/* 密码输入框的容器 */
.password-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.password-toggle-btn {
    width: 80px;
    height: 30px;
    border-radius: 30px;
    margin-top: 10px;
    cursor: pointer;
    user-select: none;
    border: none;
    box-shadow: 2px 2px 4px var(--login-shadow-dark), -2px -2px 4px var(--login-shadow-light);
    /* 禁用文本选择 */
    font-size: 0.8rem;
    color: var(--text-color);
    background-color: var(--login-content-bg-color);
}

.password-toggle-btn:hover {
    box-shadow: inset -4px -4px 6px var(--login-shadow-dark), inset 4px 4px 6px var(--login-shadow-light);
}



.login-tips {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: max-content;

}



.login-toggle-switch {
    position: relative;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}


@media screen and (max-width: 1000px) {
    .login-toggle-switch {
        width: 50px;
        height: 20px;
    }
}

.login-switch-label {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--login-background-inverse-color);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--login-background-inverse-color);
}

@media screen and (max-width: 1000px) {
    .login-switch-label {
        margin-top: 10px;
        border: 2px solid var(--login-background-inverse-color);
    }
}

.login-checkbox {
    display: none;
}

.login-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

@media screen and (max-width: 1000px) {
    .login-slider {
        border-radius: 20px;
    }
}

.login-checkbox:checked~.login-slider {
    background-color: var(--login-content-bg-color);
}

.login-slider::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 2px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--login-content-bg-color);
    box-shadow: inset 12px -4px 0px 0px var(--login-content-bg-color);
    background-color: var(--login-background-inverse-color);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

@media screen and (max-width: 1000px) {
    .login-slider::before {
        top: 1.2px;
        left: 0.5px;
        width: 18px;
        height: 18px;
        border-radius: 60%;
    }

}

.login-checkbox:checked~.login-slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--login-background-inverse-color);
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media screen and (max-width: 1000px) {
    .login-checkbox:checked~.login-slider::before {
        -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
        transform: translateX(30px);
    }

}

.login-tips-button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.faq-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: #ffe53b;
    background-image: linear-gradient(147deg, #150000 0%, #ff2525 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.151);
    position: relative;
    margin: 0 5px;
}

@media screen and (max-width: 1000px) {
    .faq-button {
        width: 15px;
        height: 15px;
        margin: 0 5px;
    }
}

.faq-button svg {
    height: 1.2em;
    fill: white;
}

@media screen and (max-width: 1000px) {
    .faq-button svg {
        height: 0.8em;
    }

}

.faq-button:hover svg {
    animation: jello-vertical 0.7s both;
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.tooltip {
    position: absolute;
    width: 80px;
    top: -20px;
    opacity: 0;
    background-color: #ffe53b;
    background-image: linear-gradient(147deg, #2f0303 0%, #ff2525 74%);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    pointer-events: none;
    letter-spacing: 0.5px;
    font-size: 0.8rem;
}

@media screen and (max-width: 1000px) {
    .tooltip {
        width: 60px;
        font-size: 0.6rem;
    }

}

.tooltip::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #ff2525;
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    bottom: -15%;
    transition-duration: 0.3s;
}

.faq-button:hover .tooltip {
    top: -40px;
    opacity: 1;
    transition-duration: 0.3s;
}

@media screen and (max-width: 1000px) {
    .faq-button:hover .tooltip {
        top: -30px;
    }

}